@import "variables";

.campaign {
  background-color: #f6f3f3;
}

.campaign__right {
  background-image: url("../images/alexandra-gorn-485551-unsplash.jpg");
  width: 100%;
  min-height: 64rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.campaign__left {
  color: $primary;
  background-color: #f6f3f3;
  display: flex;
  justify-content: center;
  padding-top: calc(32.4rem / 2);
  padding-left: 2rem;
  padding-right: 2rem;
}

.campaign__left__content {
  text-align: center;
  h3 {
    font-size: 4rem;
    margin: 0;
    margin-bottom: 1rem;
  }

  ul li {
    list-style: none;
    line-height: 1.9;

    &:before {
      content: "\2014";
    }
  }
  p {
    font-size: 7rem;
    font-family: Sacramento;
    margin: 0;
  }
}
