.featured__section {
  padding: 10rem;
  background-color: blue;
}

.property__card {
  background-color: white;
  height: 50rem;
  width: 100%;
  margin: 1rem auto;
}

.property__card__top {
  height: 50%;
}

.property__card__bottom {
  height: 50%;
}
