@import "variables";

.featured__section {
  padding: 10rem 0;
  background-color: white;

  h1 {
    margin-bottom: 100px;
    text-align: center;
  }
}

.property__card {
  background-color: $white;
  height: 50rem;
  margin: 0 auto;
  margin-bottom: 4rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
}

.property__card__top {
  height: 50%;
  position: relative;
  background-color: black;
  cursor: pointer;

  &::before {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    height: 100%;
    width: 100%;
    visibility: hidden;
    content: "";
  }

  a.property__info {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    display: inline-block;
    text-transform: capitalize;
    visibility: hidden;
    padding: 1.5rem;
    opacity: 1;
    background-color: rgb(53, 20, 49);
  }

  &:hover::before {
    visibility: visible;
  }
  &:hover a.property__info {
    visibility: visible;
  }

  img {
    object-position: center;
    object-fit: fill;
    height: 100%;
    width: 100%;
  }

  a.availability {
    padding: 1rem 2rem;
    background-color: $secondary;
    position: absolute;
    color: $primary;
    border-radius: 0.5rem;
    left: 5%;
    top: 5%;

    text-transform: uppercase;
    font-size: 1.2rem;
  }
}

.property__card__bottom {
  height: 50%;
  background-color: $white;

  div.bottom__button {
    background-color: $primary;
    display: flex;
    padding: 18px 0;
    justify-content: center;
    font-size: 2rem;
    color: $secondary;
  }
}

.card__bottom__location {
  text-align: center;
  border-bottom: 1px solid #eee;
  background-color: $white;
  color: $primary;
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1.2rem;
  }
}

.card__bottom__row {
  padding: 1rem 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 25%;
  border-bottom: 1px solid #eee;
}
.card__bottom__row p {
  display: inline-block;
  color: $primary;
}
