@import "variables";

.footer__top {
  background-color: black;
  height: 30vh;
  text-align: center;
  padding: 7rem;
  font-size: 4rem;
  color: white;

  a {
    background-color: $primary;
    text-decoration: none;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 2rem;
    margin-left: 4rem;
    color: white;
  }
}

.footer__bottom {
  height: 35vh;
  text-align: center !important;
  font-size: 3rem;
  background-color: $primary;
  span {
    position: relative;
    top: 50%;
  }
}
