@import "variables";

.header {
  height: 100vh;
  background-image: linear-gradient(
      rgba(53, 20, 49, 0.6),
      rgba(53, 20, 49, 0.6)
    ),
    url("../images/hero.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  .header__content {
    text-align: center;
    position: relative;
    top: 40%;

    color: $secondary;
    h1 {
      font-size: 6rem;
    }
    a {
      padding: 2rem 2rem;
      background-color: white;
      color: $primary;
      display: inline-block;

      margin-top: 1rem;
    }
  }
}

._nav {
  z-index: 200;
  background-color: $secondary;
  padding: 2rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  overflow: hidden;

  ul .items__wrap {
    display: flex;
    justify-content: space-around;
    width: 50%;
    float: left;
  }

  ul div li {
    display: inline-block;
    font-size: 2rem;

    ul div li a {
      color: $primary;
    }
  }

  ul .logo__wrap {
    color: $primary;
  }
}
