@import "variables";
.realtors__section {
  margin-top: 12rem;
  padding: 12rem 0 12rem 0;
  background-color: $primary;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(53, 20, 49, 0.8))),
    url("../images/hero.jpg");
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  h1 {
    margin: 0;
    margin-left: 20px;
  }
}

.realtor__card__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.realtor__card__bottom {
  font-size: 1.5rem;
  text-align: left;

  padding: 1.5rem 0;
}
.realtor__card {
  height: 25rem;
  padding: 2rem;

  @media only screen and (max-width: 768px) {
    margin: 50px 0;
  }
}

.realtor__card__left {
  height: 100%;

  img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 10rem;
    border-radius: 50%;
    height: 10rem;
  }
}

.realtor__card__right {
  padding: 0 2rem;
}
