@import "variables";
.realtors__section {
  margin-top: 15rem;
  padding: 15rem;
  background-color: $primary;
  background-image: url("../images/hero.jpg");
  background-blend-mode: multiply;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  h1 {
    margin: 0;
    margin-left: 20px;
  }
}

.realtor__card__top {
  height: 50%;
  display: flex;
  flex-direction: row;
}
.realtor__card__bottom {
  font-size: 1.5rem;
  text-align: left;
  height: 50%;
  padding: 1.5rem 0;
}
.realtor__card {
  height: 25rem;
  padding: 2rem;
}

.realtor__card__left {
  height: 100%;

  img {
    object-fit: cover;
    width: 100px;
    border-radius: 50%;
    height: 100px;
  }
}

.realtor__card__right {
  padding: 0 2rem;
}
