@import "variables";
.testimony__section {
  height: 35vh;
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 1)
    ),
    url("../images/testimony.jpg");
  background-position: top;
  background-attachment: fixed;
  position: relative;
}

.testimony {
  color: white;
  position: relative;
  text-align: center;
  height: 5rem;
  margin-top: 50%;

  h3 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.5rem;
  }
}
