/* Color Theme Swatches in RGBA */
/* RGB */
$brown: rgba(247, 219, 167, 1);
$blue: rgba(54, 65, 86, 1);
$purple: rgba(53, 20, 49, 1);
$white: rgba(255, 255, 250, 1);
$gray: rgba(81, 80, 82, 1);

$primary: $purple;
$secondary: $white;
$tertiary: $gray;
