/* Color Theme Swatches in RGBA */
$black: rgba(0, 0, 0, 1);
$light-pink: rgba(255, 150, 150, 1);
$dark-pink: rgba(255, 125, 125, 1);
$dark-green: rgba(52, 179, 88, 1);
$light-green: rgba(125, 255, 162, 1);

$primary: $light-green;
$secondary: black;
