@import "variables";

.welcome__section {
  height: 75vh;
  background-color: white;
}

.welcome__section__header {
  color: black;
  display: inline-block;
  border-bottom: 2rem soild black;
  text-align: center;
  font-size: 4rem;
  line-height: 1.6;
}
.welcome__section__header p {
}

.welcome__section__header__right {
  color: $primary;
}

.welcome__section__text__wrap {
  text-align: center;
  padding: 5rem;
}

.welcome__section__description {
  text-align: center;

  font-size: 2rem;
  margin-bottom: 5rem;
}

.welcome__section__description p {
  display: block;
}

.welcome__section__card__wrap {
  padding: 5rem;
}
